<div id="footer">
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 footer-contact">
					<h3>GesParc</h3>
					<address>
						Vous pouvez contacter l'auteur à l'adresse
						<a href="http://www.gesfleet.com/contact">www.gesfleet.com</a>.<br>
						Vous pouvez nous laisser un message à :
						<a href="mailto:webmaster@gesfleet.com">le webmaster</a>.<br>
						Vous pouvez aussi venir nous voir :<br>
						Gesfleet<br>
						145, rue des murlins<br>
						45000<br>
						Orléans<br>
						France
					</address>

				</div>
				<div class="col-lg-2 col-md-6 footer-links">
					<h4>Sitemap</h4>
					<ul>
						<li>
							<i class="fa-solid fa-angle-right">Home</i>

						</li>
						<li>
							<i class="fa-solid fa-angle-right">contact</i>

						</li>
						<li>
							<i class="fa-solid fa-angle-right">Infos</i>

						</li>
						<li>
							<i class="fa-solid fa-angle-right">Autre</i>

						</li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-6 footer-links">
					carte openstreetmap
					<div id="map"></div>
				</div>
				<div class="col-lg-2 col-md-6 footer-links">
					<div class="me-md-auto text-center text-md-start">
						<div class="copyright">
							@ 2019 Copyright
							<strong>GesParc</strong>. All rights reserved.
						</div>
						<div class="credits">
							Designed by
							<a href="http://www.Gesfleet.com">Gesfleet</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
