{% extends 'base.html.twig' %}

{% block title %}Hello MainController!
{% endblock %}
{% block header %}
	{% include "fragments/_nav.html.twig" %}


{% endblock %}
{% block body %}
	<div class="bg-woodtexture">
		<h2>About Us !</h2>
		<div class="h2-info">
			<a href="#">
				The family
			</a>
		</div>
		<div class="row">
			<div class="col-md-6 col-lg-4">
				<figure>
					<a href="#" title="Marie">
						<img height="250" src="{{ asset('assets/img/Marie.jpg')}}" alt="Marie" title="Marie"/>
					</a>
					<figcaption>Marie</figcaption>
				</figure>
			</div>
			<div class="col-md-6 col-lg-4">
				<figure>
					<a href="#" title="Marie">
						<img height="250" src="{{ asset('assets/img/Oksanne.jpg')}}" alt="Oksanne" title="Oksanne"/>
					</a>
					<figcaption>Oksanne</figcaption>
				</figure>
			</div>
			<div class="col-md-6 col-lg-4">
				<figure>
					<a href="#" title="MarieJean-Yves">
						<img height="250" src="{{ asset('assets/img/Jean-Yves.jpg')}}" alt="Jean-Yves" title="Jean-Yves"/>
					</a>
					<figcaption>Jean-Yves</figcaption>
				</figure>
			</div>
		</div>

		<h3 class="text-center">Welcome To
			<span id="W_Name1">GesFleet</span>
		</h3>
		<p>
			<span id="W_Name2">GesFleet</span>
			is a Professional
			<span id="W_Type1">Vehicle fleet management</span>
			Platform. Here we will provide you only interesting content, which you will like very much. We're dedicated to providing you the best of
			<span id="W_Type2">Vehicle fleet management</span>, with a focus on dependability and
			<span id="W_Spec">Handy management</span>. We're working to turn our passion for
			<span id="W_Type3">Vehicle fleet management</span>
			into a booming
			<a href="https://www.blogearns.com" rel="do-follow" style="color:inherit; text-decoration: none;">online website</a>. We hope you enjoy our
			<span id="W_Type4">Vehicle fleet management</span>
			as much as we enjoy offering them to you.</p>
		<p>I will keep posting more important posts on my Website for all of you. Please give your support and love.</p>
		<p style="font-weight: bold; text-align: center;">Thanks For Visiting Our Site<br><br>
			<span style="color: blue; font-size: 16px; font-weight: bold; text-align: center;">Have a nice day !</span>
		</p>
		<p>Bonjour et bienvenue sur Gesfleet, une plateforme de gestion de flotte de véhicules privés pensée avec une vision professionnelle. Nous vous proposons uniquement des contenus qui vous séduiront. Nous sommes à l'écoute de vos suggestions et de vos commentaires. Nous travaillons à rendre votre besoin de gestion de flotte de véhicules une vraie réalité. Nous espérons que vous apprécierez les fonctionnalités offertes par notre plateforme et qu'elles vous serons utiles à tous égards.</p>
		<p>Notre mission est d’offrir à tous les utilisateurs une expérience de gestion de flotte de véhicules privés en ligne. Nous espérons que vous apprécierez notre plateforme et que vous l’utiliserez avec plaisir.</p>
		<p>Lorsque nous nous sommes lancés sur le développement de la plateforme en 2002, nous avions de grands rêves. Le temps d'apprentisssage s'est révélé très bénéfique et a permis le développements de nouvelles compétences afin de satisfaire pleinement les besoins.</p>
		<p>Passionnés, nous voulons être les esprits créatifs qui vous donnent le sourire. C’est pourquoi nous mettons tout en oeuvre pour vous apporter le meilleur.</p>
		<p>Hello and welcome to Gesfleet, a private vehicle fleet management platform designed with a professional vision. We only offer you content that will appeal to you. We are listening to your suggestions and comments. We work to make your need for vehicle fleet management a real reality. We hope that you will enjoy the features offered by our platform and that they will be useful to you in every way.</p>
		<p>Our mission is to provide all users with an online private vehicle fleet management experience. We hope you enjoy our platform and enjoy using it.</p>
		<p>When we started developing the platform in 2002, we had big dreams. The learning time proved to be very beneficial and allowed the development of new skills in order to fully meet the needs.</p>
		<p>Passionate, we want to be the creative minds that make you smile. That's why we do everything we can to bring you the best.</p>

	</div>

{% endblock %}
{% block footer %}
	{% include "fragments/_footer.html.twig" %}
{% endblock %}
