<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Site de gestion d'un parc automobile privé">
		<meta name="author" content="Jean-Yves BASTARD">

		<title>
			{% block title %}GesFleet
			{% endblock %}
		</title>
		<link
		rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<!-- Feuilles de styles -->
		<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css')}}">
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/> {% block stylesheets %}{% endblock %}
		<link
		rel="stylesheet" href="{{ asset('assets/css/theme.css')}}">
		<!-- Fichiers Javascript -->
		<script src="{{ asset('assets/js/bootstrap.bundle.min.js')}}" defer></script>
		<script src="https://kit.fontawesome.com/88d4e45bc1.js" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin="" defer></script>
		{% block javascripts %}{% endblock %}
		<script src="{{ asset('assets/js/scripts.js')}}" defer></script>
	</head>
	<body>
		<div class="container">
			{% block header %}
				<section class="header">Header</section>
			{% endblock %}
			{% block body %}
				<section id="body">
					<h1>Body</h1>
				</section>
			{% endblock %}
			{% block footer %}
				<section id="footer">Footer</section>
			{% endblock %}
		</div>

	</body>
</html>
