<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Site de gestion d'un parc automobile privé">
		<meta name="author" content="Jean-Yves BASTARD">

		<title>
			{% block title %}GesFleet
			{% endblock %}
		</title>
		<link
		rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<!-- Feuilles de styles -->
		<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css')}}"> {% block stylesheets %}{% endblock %}
		<link
		rel="stylesheet" href="{{ asset('assets/css/theme.css')}}">
		<!-- Fichiers Javascript -->
		<script src="{{ asset('assets/js/bootstrap.bundle.min.js')}}"></script>
		{% block javascripts %}{% endblock %}
		<script src="{{ asset('assets/js/scripts.js')}}"></script>
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
